/* @charset "utf-8"; */

html {
  font-family: Meiryo, sans-serif, "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic;
  height: 100%;
  margin : 0;
  padding: 0;
/*  overflow-y: scroll; */
}

body {
  width: 100%;
  font-size: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

div.datetime_container {
  height: 38px;                    /* height + border = 40px */
  align-items: center;             /* ボタンを両サイドに割付 */
  display: flex;
  justify-content: space-between;
  padding: 0 20px;                 /* 両サイド少し空ける */
  font-weight: normal;
  font-size: 130%;
  border: solid 1px #9c9c9c;       /* debug */
}

div.map_container {
  position: relative;              /* 子要素地図画像の位置合わせ基準 */
}

img.top_map,
img.top_map_wbgt,
img.map_item {                 /* 子要素地図画像 */
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: auto;
}
